{% extends 'layout/layout.html' %}
{% load bootstrap %}

{% block localizacao %}
<h1 class="text-light-blue">Acesso</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Visitante</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i>Acesso</a></li>
    <li class="active">Formulário</li>
</ol>
{% endblock %}

{% block conteudo %}
<div class="box box-warning">

    <form enctype="multipart/form-data" method="post" data-url="{% url 'acesso_criar' visitante_id %}" class="criar-acesso">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Criar Acesso</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">{{form.setor|bootstrap}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary pull-left" href="{% url 'visitante_detalhar' visitante_id %}" >Cancelar
            </a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp&nbspSalvar</button>
        </div>
    </form>

</div>
{% endblock %}