<div class="box box-primary">
    <form method="post" data-url="{% url 'acesso_sair' form.instance.id %}" class="sair-acesso">
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Registrar saída</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div hide>

                <div class="col-md-12" style="display:none">{{ form.data_entrada }}</div>



                <div class="col-md-12" style="display:none">{{form.setor}}</div>

        </div>
        <div class="modal-body">
            <h3 class="lead">Tem certeza que deseja registrar a saída?</h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
            <button type="submit" class="btn btn-primary">Sim</button>
        </div>
    </form>
</div>