{% extends 'layout/layout.html' %}
{% load bootstrap %}

{% block localizacao %}
<h1 class="text-light-blue">Acesso</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Visitante</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i>Acesso</a></li>
    <li class="active">Excluir</li>
</ol>
{% endblock %}

{% block conteudo %}
<div class="box box-primary">
    <form method="post" >
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title">Deletar Acesso</h5>
            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body">
            <h3 class="lead">Você tem certeza que deseja excluir este Acesso?</h3>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary pull-left" href="{% url 'visitante_detalhar' visitante_id %}" >Cancelar
            </a>
            <button type="submit" class="btn btn-primary pull-left">Excluir</button>
        </div>
    </form>
</div>
{% endblock %}