{% if mensagem %}
<div class="alert alert-dismissible" style="background-color:#d4edda">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa icon fa fa-check"></i> Aviso!</h4>
    <p id="alerta_mensagem"> {{ mensagem }}</p>
</div>
{% endif %}
