{% extends 'layout/layout.html' %}

{% block localizacao %}
<h1>Setor</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Setor</a></li>
    <li class="active">Excluir</li>
</ol>
{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-light-blue">Deletar Setor</h3>
        <form method="POST">
            <h4>Tem certeza que deseja deletar o setor <b>{{ setor.nome }}</b>?</h4>
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i>&nbsp&nbspDeletar</button>
            <a class="btn btn-primary" href="{% url 'setor_listar' %}"><i class="fa fa-mail-reply-all"></i>&nbsp&nbspVoltar</a>
        </form>
    </div>
</div>
<br>

{% include 'setor/setor_lista_incompleta.html' %}
{% endblock %}