<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Tabela de Setores</h3>

                <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if setores.has_previous %}
                        <li><a href="?page=1">&laquo;&laquo;</a></li>
                        <li><a href="?page={{ setores.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        {% for num in setores.paginator.page_range %}
                        {% if setores.number == num %}
                        <li class="page-item active"><a href="?page={{ num }}">{{ num }}<span
                                class="sr-only">(current)</span></a></li>
                        {% elif num > setores.number|add:'-3' and num < setores.number|add:'3' %}
                        <li><a id="page_selecionado_{{num}}" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if setores.has_next %}
                        <li><a href="?page={{ setores.next_page_number }}">&raquo;</a></li>
                        <li><a href="?page={{ setores.paginator.num_pages }}">&raquo;&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th class="text-center hide">ID</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Sigla</th>
                        <th class="text-center">Telefone</th>
                    </tr>
                    {% for setor in setores %}
                    <tr>
                        <td class="text-center hide">{{ setor.id}}</td>
                        <td class="text-center">{{ setor.nome}}</td>
                        <td class="text-center">{{ setor.sigla}}</td>
                        <td class="text-center">{{ setor.telefone}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>