{% load static %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <div class="text-center" style="margin:10px;">
              <img src="{% static "img/logo_raw.png" %}" alt="logo polícia civil" style="width:40%;">
            </div>
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-home text-aqua"></i> <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'visitante_listar'  %}">
                    <i class="fa fa-user text-aqua"></i> <span>Visitantes</span>
                </a>
            </li>
             <li>
                <a href="{% url 'setor_listar'  %}">
                    <i class="fa fa-institution text-aqua"></i> <span>Unidade</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>