{% extends 'layout/layout.html' %}

{% block localizacao %}
<h1 class="text-light-blue">Controle de acesso</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Visitante</a></li>
    <li class="active">Detalhe</li>
</ol>
<br/>
<br/>
{% endblock %}

{% block conteudo %}

{% if messages %}
<div class="alert" style="background-color:#d4edda">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa icon fa fa-check"></i> Aviso!</h4>
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col col-md-12" id="mensagem"></div>
</div>

<div class="row">
    <div class="col col-md-12">
        <a class="btn btn-primary" href="{% url 'acesso_criar' visitante.id %}">
            <span class="glyphicon glyphicon-plus"></span>
            Adicionar acesso
        </a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Tabela de acessos</h3>

                <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if acessos.has_previous %}
                        <li><a href="?page=1">&laquo;&laquo;</a></li>
                        <li><a href="?page={{ acessos.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        {% for num in acessos.paginator.page_range %}
                        {% if acessos.number == num %}
                        <li class="page-item active"><a href="?page={{ num }}">{{ num }}<span
                                class="sr-only">(current)</span></a></li>
                        {% elif num > acessos.number|add:'-3' and num < acessos.number|add:'3' %}
                        <li><a id="page_selecionado_{{num}}" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if acessos.has_next %}
                        <li><a href="?page={{ acessos.next_page_number }}">&raquo;</a></li>
                        <li><a href="?page={{ acessos.paginator.num_pages }}">&raquo;&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="hide">#</th>

                                <th class="text text-center">Data Entrada</th>

                                <th class="text text-center">Setor</th>

                                <th class="text text-center">Data de Saída</th>

                                <th class="text text-center">Situação</th>

                                <th class="text text-center">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'acesso/acesso_lista_fragmento.html' %}
                            </tbody>
                        </table>
                    </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<h1 class="text-light-blue" style="margin-bottom:20px">Detalhe do visitante</h1>

<div class="row">
    <div class="col-md-4">
        <div class="box box-solid">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Imagem</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <img src="{{ visitante.imagem.url }}" class="img-responsive img-thumbnail center-block"
                     alt=" Imagem visitante">
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-8" id="dados-pessoais">
        <div class="box box-solid">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Dados pessoais</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" value="{{visitante.nome}}" class="form-control" id="nome" disabled/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" value="{{visitante.cpf}}" class="form-control" id="cpf" disabled/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rg">RG</label>
                            <input type="text" value="{{visitante.rg}}" class="form-control" id="rg" disabled/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sexo">Sexo</label>
                            <input type="text" value="{{visitante.sexo}}" class="form-control" id="sexo" disabled/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" value="{{visitante.telefone}}" class="form-control" id="telefone"
                                   disabled/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
{% endblock %}

{% block jquery %}

$('.data').mask('00/00/0000');
$(".data").attr("placeholder", "00/00/0000");

$('#id_data_saida').mask('00/00/0000');
$("#id_data_saida").attr("placeholder", '00/00/0000');
{% endblock %}
