{% extends 'layout/layout.html' %}

{% block localizacao %}
<h1 class="text-light-blue">Visitante</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Visitante</a></li>
    <li class="active">Lista</li>
</ol>
{% endblock %}

{% block conteudo %}
<div class="row" style="margin-bottom:10px;">
    <form action="">
        <div class="form">
            <div class="col col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="pesquisa"
                           placeholder="Digite Nome ou CPF ou RG">
                    <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-flat">Buscar</button>
            </span>
                </div>
            </div>
        </div>
    </form>
</div><!-- fim row -->
<br>
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'visitante_criar' %}" class="btn btn-primary">Adicionar visitante&nbsp&nbsp<i
                class="fa fa-plus"></i></a>
    </div>
</div>
<br>

{% if messages %}
<div class="alert" style="background-color:#d4edda">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa icon fa fa-check"></i> Aviso!</h4>
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
    {% endfor %}
</div>
{% endif %}

{% include 'visitante/visitante_lista_completa.html' %}

{% endblock %}
