<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Tabela de Visitantes</h3>

                <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if visitantes.has_previous %}
                            <li><a href="?page=1">&laquo;&laquo;</a></li>
                            <li><a href="?page={{ visitantes.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        {% for num in visitantes.paginator.page_range %}
                            {% if visitantes.number == num %}
                                <li class="page-item active"><a href="?page={{ num }}">{{ num }}<span class="sr-only">(current)</span></a></li>
                            {% elif num > visitantes.number|add:'-3' and num < visitantes.number|add:'3' %}
                                <li><a id="page_selecionado_{{num}}" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if visitantes.has_next %}
                            <li><a  href="?page={{ visitantes.next_page_number }}">&raquo;</a></li>
                            <li><a href="?page={{ visitantes.paginator.num_pages }}">&raquo;&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th class="text-center hide">ID</th>
                        <th class="text-center">Imagem</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">RG</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">Sexo</th>
                        <th class="text-center">Ações</th>
                    </tr>
                    {% for visitante in visitantes %}
                    <tr>
                        <td class="text-center hide">{{ visitante.id}}</td>
                        <td class="text-center">
                            <a class="tooltipped" href="{% url 'visitante_detalhar' visitante.id %}"
                               data-position="bottom"
                               data-tooltip="Ver detalhes">
                                <img style="max-height:60px;width: auto;" src="{{ visitante.imagem.url  }}"
                                     alt="foto visitante">
                            </a>
                        </td>
                        <td class="text-center">{{ visitante.nome}}</td>
                        <td class="text-center">{{ visitante.cpf}}</td>
                        <td class="text-center">{{ visitante.rg}}</td>
                        <td class="text-center">{{ visitante.telefone}}</td>
                        <td class="text-center">{{ visitante.sexo}}</td>
                        <td class="text-center">
                            <a class="" data-position="bottom" data-tooltip="Editar"
                               data-toggle="tooltip" data-placement="top" title="Editar"
                               href="{% url 'visitante_atualizar' visitante.id %}"><i class="fa  fa-pencil fa-lg"></i></a>
                            <a data-position="bottom" data-tooltip="Excluir"
                               data-toggle="tooltip" data-placement="top" title="Excluir"
                               href="{% url 'visitante_deletar' visitante.id %}"><i class="fa  fa-trash fa-lg"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>